* {
	box-sizing: border-box;
}


.header {
	font-size: 20px;
	text-align: center;
	margin: 60px auto;
	line-height: 1.5;
}

.header span {
	display: block;
}

.container-lg {
  /*border: 2px solid red;*/
}
.section {
	padding: 30px 0px;
}
.form {
	border: 5px solid #2727d9;
	padding: 35px 20px;
}

.form-header {
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 20px;
}
.form input {
	margin-bottom: 12px;
}
.form-btn {
	background-color: #2727d9;
	margin-bottom: 17px;
}

.video {
	margin-bottom: 30px;
}